# dependencies
/node_modules

# Next.js build files
/.next
/out

# production
/build

# local environment files
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# operating system
.DS_Store
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
